<section id="not-found">
    <div class="wrapper">
        <ul class="breadcrumbs">
            <li class="prev-link"><a href="<%= previousPageUrl %>"><%= previousPage %></a></li>
            <li class="current-link"><%= currentPage %></li>
        </ul>
        <h6>404</h6>
        <div class="not-found-message">
            <div class="row">
                <div class="col col-xs-12 col-md-6 center-align">
                    <span>Oops!</span>
                </div>
                <div class="col col-xs-12 col-md-6 left-align">
                    <h3>Sorry, this page could not be found!</h3>
                    <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    <a href="#"><span class="not-found-home-link">Go back to Homepage</span></a>
                    <label>Search our site
                        <input type="search" placeholder="SEARCH">
                        <span class="fas fa-search"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>