<section id="banner" style="background-image: url('img/banner.jpg');">
    <div class="banner-container">
        <h6>Banner</h6>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
    </div>
</section>