<section id="benefits">
    <div class="wrapper">
        <div class="row">
            <div class="col col-xs-6 col-md-1 benefits-icon-col">
                <span class="fas fa-dolly"></span>
            </div>
            <div class="col col-xs-6 col-md-2 benefits-text-col">
                <h1>Fast delivery</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col col-xs-6 col-md-1 benefits-icon-col desktop">
                <span class="fas fa-star"></span>
            </div>
            <div class="col col-xs-6 col-md-2 benefits-text-col">
                <h1>Cute designs</h1>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col col-xs-6 benefits-icon-col mobile">
                <span class="fas fa-star"></span>
            </div>
            <div class="col col-xs-6 col-md-1 benefits-icon-col">
                <span class="fas fa-user"></span>
            </div>
            <div class="col col-xs-6 col-md-2 benefits-text-col">
                <h1>Good client service</h1>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
</section>