<section id="featured-products" class="desktop">
    <div class="wrapper">
        <h4>Featured products</h4>
        <p>Unde omnis iste natus error sit voluptatem</p>
        <span class="featured-products-slashes">///</span>
        <div id="featured-products-slider">
            <article class="product-tile">
                <img src="img/product_slider_1.jpg" alt="product slider-image" class="slider">
                <p class="product-tile-desc">Beige sweater</p>
                <span class="product-tile-feature">Awesome</span>
            </article>
            <article class="product-tile">
                <img src="img/product_slider_2.jpg" alt="product slider-image" class="slider">
                <p class="product-tile-desc">Grey mini dress</p>
                <span class="product-tile-feature">Awesome</span>
            </article>
            <article class="product-tile">
                <img src="img/product_slider_3.jpg" alt="product slider-image" class="slider">
                <p class="product-tile-desc">Blue bags</p>
                <span class="product-tile-feature">Awesome</span>
            </article>
            <article class="product-tile">
                <img src="img/product_slider_4.jpg" alt="product slider-image" class="slider">
                <p class="product-tile-desc">Golden ring with stone</p>
                <span class="product-tile-feature">Awesome</span>
            </article>
            <article class="product-tile">
                <img src="img/product_slider_5.jpg" alt="product slider-image" class="slider">
                <p class="product-tile-desc">Floral print dress</p>
                <span class="product-tile-feature">Awesome</span>
            </article>
            <article class="product-tile">
                <img src="img/product_slider_6.jpg" alt="product slider-image" class="slider">
                <p class="product-tile-desc">Cherries print skirt</p>
                <span class="product-tile-feature">Awesome</span>
            </article>
            <article class="product-tile">
                <img src="img/product_slider_7.jpg" alt="product slider-image" class="slider">
                <p class="product-tile-desc">Golder glitter heels</p>
                <span class="product-tile-feature">Awesome</span>
            </article>
            <article class="product-tile">
                <img src="img/product_slider_8.jpg" alt="product slider-image" class="slider">
                <p class="product-tile-desc">White lace dress</p>
                <span class="product-tile-feature">Awesome</span>
            </article>
        </div>
    </div>
</section>