<section id="popular" class="product-page-section">
    <div class="wrapper">
        <h3>Popular items</h3>
        <div class="products-container desktop">
            <article class="product-tile">
                <img src="img/static_product_tile.jpg" alt="product image" class="static">
                <div class="product-tile-overlay"></div>
                <p class="product-tile-overlay-text">
                    Lorem ipsum
                    dolor sit amet
                    consectetur adipiscing
                </p>
                <span class="fas fa-user"></span>
                <span class="product-tile-time">5h ago</span>
            </article>
        </div>
        <button type="button" id="load-more-button" class="desktop">Load More</button>
        <div id="popular-products-slider" class="mobile"></div>
    </div>
</section>