<section id="top">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div id="top-slider-container">
                    <div class="top-slider-slide left-align" style="background-image: url(img/top_slider_slide_1.jpg);">
                        <h6>Autumn exclusive collection</h6>
                        <p>Autumn 2023 new arrivals</p>
                            <a href="category" data-navigo><button class="view-more-button">View more</button></a>
                    </div>
                    <div class="top-slider-slide center-align"
                        style="background-image: url(img/top_slider_slide_2.jpg);">
                        <h6>Special collaboration</h6>
                        <p>Famous designers special offer</p>
                            <a href="category" data-navigo><button class="view-more-button">View more</button></a>
                    </div>
                    <div class="top-slider-slide right-align"
                        style="background-image: url(img/top_slider_slide_3.jpg);">
                        <h6>Big sale</h6>
                        <p>Exclusive offers</p>
                        <a href="category" data-navigo><button class="view-more-button">View more</button></a>
                    </div>
                </div>
            </div>
            <div class="col show-lg hide-xs hide-sm hide-md center-align margin-left-col">
                <div class="top-sale-block">
                    <h6>55%</h6>
                    <h5>Summer Sale</h5>
                    <img src="img/top_section_summer_sale.png" alt="summer sale">
                </div>
                <h1>Follow us on Facebook</h1>
                <p>Sed ut perspiciatis unde omnis iste natus error sit</p>
                <button class="facebook-button"><span class="fab fa-facebook-f"></span>follow</button>
            </div>
        </div>
    </div>
</section>