<article class="product-tile">
    <a href="product-detail" data-navigo>
        <img src="<%= imageUrl %>" alt="product image">
        <p class="product-tile-desc"><%= text %></p>
    </a>
    <button type="button" class="product-tile-button">
        <span class="product-tile-button-price"><%= price %></span>
        <span data-count="cart">buy now</span>
    </button>
</article>