<article class="product-tile">
    <img src="<%= imageUrl %>" alt="product image">
    <p class="product-tile-desc"><%= text %></p>
    <span class="product-tile-price">$ <%= price %></span>
    <div class="product-tile-hover"></div>
    <button type="button" class="product-tile-hover-button add-to-cart-button fas fa-plus" data-count="cart"></button>
    <button type="button" class="product-tile-hover-button add-to-wishlist-button fas fa-heart" data-count="wishlist"></button>
</article>